:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 100%);
  --whieColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 93%);
  --cardColor: hsl(300, 3%, 94%);

  /* font */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.navbar {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  border-bottom: 1.5px solid rgba(211, 211, 211);
  /* background: #daa3a3; */
  backdrop-filter: blur(5px);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  color: var(--blackColor);
  font-size: var(--h3FontSize);
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    width: 70%;
    top: -100rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(255, 255, 255, 0.94);
    border-radius: 10px;
    padding: 2rem;
    transition: 0.8s ease-in-out;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px 4px rgba(236, 213, 213, 0.516);
  }
  .menu > ul > li {
    font-size: var(--h3FontSize);
    font-weight: 500;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
  }
  .li:hover {
    color: var(--primaryColor);
    border-bottom: 1.5px solid var(--primaryColor);
    border-radius: 10px;
  }
}

.menuIcon,
.closeIcon {
  font-size: var(--h1FontSize);
}
.menuIcon:hover {
  color: var(--primaryColor);
}
.closeIcon:hover {
  color: var(--primaryColor);
}
.closeIcon {
  position: absolute;
  bottom: -15px;
  right: 50%;
  left: 50%;
  color: var(--blackColor);
  transform: translate(-50%);
}
.showNavbar {
  top: 8rem;
}
